@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "swiper/swiper-bundle.css";

/* @font-face {
  font-family: Ringbearer;
  font-weight: 400;
  src: url("\GLHL\assets\fonts\Ringbearer.woff") format("woff");
} */
@font-face {
  font-family: Ringbearer;
  font-weight: 400;
  src: url("/assets\fonts\Ringbearer.TTF") format("truetype");
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: translateX(300%);
}
